/* Die KubikZahl.c
*Die Kubuik Zahl der Double-Parameter von Main()-funktion */
#include <stdio.h>
int main(int argc, char * argv[]) {
    if(argc !=2)
    printf("Bitte ein Argument(Ein Parameter)übergeben\n!)
    }
    else {
      double zahl = atof(argv[1]);
      printf("%s", argv[0]);
      printf("%s = %f\n", argv[1], zahl * zahl * zahl);
      }
      
      return 0;
      }
 
